*, *::before, *::after { box-sizing: border-box;}

html{
    font-size: 62.5%;
}
/*General styles*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    color: #F8F8F8;
    border-radius: 20px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
    border: 4px solid black;
}
img {
    width: 100%;
    object-fit: cover;
}
header ul,
.popularity{
    display: flex;
}
li{
    list-style: none;
}
header ul {
    justify-content: space-between;
    padding: 0 2rem;
}
.popularity{
    justify-content: center;
    gap: 1rem;
    padding: 0 18.5rem ;
}

.profile-img{
    height: 100%;
    border-radius: 15px;
    animation: fadeVisibility 0.5s;
}
.eachDog {
    position: relative;
}
.main-content {
    height: 80vh;
    margin: 1rem;
}
.dog_detail{
    position: absolute;
    bottom: 0;
    color: #F8F8F8;
    padding: 1rem;
}
.dog-bio {
    margin-top: 5px;
    font-size: 2rem;
}
.dog-name {
    margin-bottom: 0;
}
.popularity {
    display: flex;
    justify-content: center;
}

.btn,
.icon-img {
    border: none;
    background: #fff;
}


.icon-img {
    height: 30px;
}

.header-icon {
    margin: 1rem;
}

.btn {
    padding: 2rem;
    margin: 15px;
    box-shadow: 0px 10px 20px #E9E9EA;
    border-radius: 40px;
    width: fit-content;
}

.heart:hover,
.heart:active {
    background: #DBFFF4;
}

.cross:hover,
.cross:active {
    background: #FFE7EF;
}

.badge {
    position: absolute;
    width: 233.91px;
    height: 116.26;
    left: 14px;
    top: 80px;
    transform: rotate(-30deg);
}
#like-badge {
    display: none;
}
#nope-badge {
    display: none;
}

.end-message {
    margin-top: 25%;
    text-align: center;
}

/* Animation */

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
